@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    font-family: 'Poppins';
    background: url('/!\ PROYECTO\ PATROCLO/01 index/Assets/main-bc.jpg') bottom / cover fixed #000;
    color: #fff;
    font-size: 16px;
}
/* HEADER SECTION */
.header{
    min-height: 100vh;
    box-sizing: border-box;
    background: url('/!\ PROYECTO\ PATROCLO/01 index/Assets/header-bc.jpg') top / cover fixed #000;
    display: flex;
}
h1{
    margin: 0;
    font-size: 5.0rem;
    text-wrap: balance;
}
.header__overlay{
    min-height: 100vh;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}
.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
}
.header__item-container p {
    text-wrap: pretty;
}
.header__img{
    /* filter: brightness(1.1); */
    /* mix-blend-mode: multiply; */
    min-width: 300px;
    max-width: 50%;
    filter: drop-shadow(0px 0px 30px #aa1a);

}

/* --NAVBAR SECTION-- */

.nav{
    /* background:url(fondo\ cosmico\ nebula.png) top / cover fixed #000f; */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px 50px; */
    font-size: 1.4em;
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* text-align: center; */
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0px 40px #fff;
}
.nav__ul{
    margin: 0;
    display: flex;
    /* z-index: 20; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: center; */
    padding: 0;
}
.nav__item{
    list-style: none;
    /* margin: 10px 0px; */
    transition: background-color 0.3s, border-radius 0.2s;
    border-radius: 10px;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    /* margin-right: 10px; */
    border-radius: 20px;
    outline: 0;
    outline-offset: 0;
    /* margin: 3px; */
}
.nav__item:hover{
    /* outline: 2px solid #fffe; */
    background-color: #fff3;
    border-radius: 20px;
}
.link--login{
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    padding: 15px 40px;
    /* padding-left: 10px; */
    /* justify-content: center; */
    transition: background-color 0.2s, color 0.2s;
    /* outline: 2px solid #fff; */
}
.link--login:hover{
    background-color: #000;
    border-radius: 20px;
    outline: 2px solid #fff;
    color: #fff;
    padding: 15px 40px;
    /* outline: 2px solid #fffe; */
    /* text-align: center; */
    transition: background-color 0.2s, color 0.2s;
}
.nav__Logo{
    width: 70px;
    /* padding-right: 60px; */
    filter: drop-shadow(0px 0px 30px #aa1a);
}
.nav__ul-container{
    flex-grow: 7;
}
.nav__logo-container{
    text-align: center;
    flex-grow: 1;
}
/* MAIN INICIO  */
.cajagrande{
    height: 2000px;
    font-size: 30px;
    text-wrap: wrap;
    margin: 100px;
}
.cajagrande p{
    font-size: 30px;
    font-weight: 400;
}