@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: ghostwhite;
    color: #00132c;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: cursive;
    margin: 0;
    padding: 0;
    background: url(/proyecto/Assets/mountains\ bw.jpg) top / cover fixed #000000;
}
/* N A V B A R */

.nav{
    /* background:url(fondo\ cosmico\ nebula.png) top / cover fixed #000f; */
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 6px 50px; */
    font-size: 21.5px;
    /* overflow: hidden; */
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* text-align: center; */
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    box-shadow: 0 0px 40px #fff;
    z-index: 30;
    font-family: 'Poppins', sans-serif;
}
.nav__ul{
    margin: 0;
    display: flex;
    /* z-index: 20; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: center; */
    padding: 0;
}
.nav__item{
    list-style: none;
    /* margin: 10px 0px; */
    transition: background-color 0.3s, border-radius 0.2s;
    border-radius: 10px;
}
.nav__link{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    /* margin-right: 10px; */
    border-radius: 20px;
    outline: 0;
    outline-offset: 0;
    /* margin: 3px; */
}
.nav__item:hover{
    /* outline: 2px solid #fffe; */
    background-color: #fff3;
    border-radius: 20px;
}
.link--login{
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    padding: 15px 40px;
    /* padding-left: 10px; */
    /* justify-content: center; */
    transition: background-color 0.2s, color 0.2s;
    outline: 2px solid #fff;
}
.link--login:hover{
    background-color: #000;
    border-radius: 20px;
    outline: 2px solid #fff;
    color: #fff;
    padding: 15px 40px;
    /* outline: 2px solid #fffe; */
    /* text-align: center; */
    transition: background-color 0.2s, color 0.2s;
}
.nav__Logo{
    width: 70px;
    /* padding-right: 60px; */
    filter: drop-shadow(0px 0px 30px #aa1a);
}
.nav__ul-container{
    flex-grow: 7;
}
.nav__logo-container{
    text-align: center;
    flex-grow: 1;
}


/* I N I C I O  S E C C I O N  A B O U T  U S */
h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box{
    margin-top: 0;
    width: 100vw;
    background-size: cover;
    height: 100vh;
    margin: 0;
    /*
        background-image: url(https://lastrafoto.com/wp-content/uploads/2019/07/BN02_full.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */

}
p{
    margin:10px;
}

.card{
    background-color: #fafafa;
    text-align: center;
    margin: auto;
    width: 400px;
    margin: auto;
    box-shadow: 0px 0px 80px 0 #000;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card_title{
    margin: 0px;
    padding: 0px;
    text-shadow:0px 0px 10px #0af;
    font-family: 'Poppins', sans-serif;
}
.card_subtitle{
    margin-top: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    text-shadow:0px 3px 2px #fa0;

}
.card_content{
    font-size: 9px;
    padding: 20px;
    text-align: justify;
    font-size: 14px;
    padding-top: 7px;
}
.card_img{
    margin: 0;
    width: 100px;
    filter: drop-shadow(0px 0px 30px #000f);
    padding: 10px 25px;
}
.tarjetas--flex{
    width: 1100px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: baseline;
}
.title{
    text-shadow: 0 0 30px #990;
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
}